<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<section class="intro">
    <div class="gradient-custom-1 h-100">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="table-responsive bg-white">
                <table class="table mb-0">
                  <thead>
                    <tr>
                      <th scope="col">NOMBRE</th>
                      <th scope="col">FECHA DE NACIMIENTO</th>
                      <th scope="col">TELEFONO</th>
                      <th scope="col">USERNAME</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" style="color: #666666;">{{nombreCliente}}</th>
                      <td>{{fechaNacimiento}}</td>
                      <td>{{telefono}}</td>
                      <td>{{username}}</td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
             <br>
             <div><b>Esta seguro de eliminar su perfil?</b></div>
             <br>
             <form (ngSubmit)="eliminarCliente()">
              <button type="submit" class="btn btn-primary btn-lg">Si</button>
              
              <button type="button" class="btn btn-secondary btn-lg"><a href="cliente/visualizar-cliente">Cancelar</a></button>   
            </form>     
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>